.main{
    max-height: 50vh;
}
.mainContent{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    justify-content: space-between;
}
.selectedPunk{
    object-fit: contain;
    max-width: min(30vw, 40vh);
    max-height: 30vw;
}

.punkHighLight{
    flex: 0.25;
    display: flex;
    align-items: center;
    justify-content: center;
}

.punkContainer{
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin-right: 20px;
}

.punkDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.75;
}