.punkList  {
    display: flex;
    cursor: pointer;
    overflow: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.punkList::-webkit-scrollbar{
    display: none;
}